html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}
a,
a:active,
a:visited {
  text-decoration: none;
}
img,
iframe {
  display: block;
}
html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#root {
  display: grid;
  grid: 72px calc(100% - 72px) / 1fr;
  height: 100%;
  width: 100%;
}
#app {
  display: grid;
  grid: 100% / 256px calc(100% - 256px);
  height: 100%;
  width: 100%;
}
