html {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}
a,
a:active,
a:visited {
  text-decoration: none;
  color: #0046B8;
}
img,
iframe {
  display: block;
}
html,
body {
  font: 14px/1.5em 'Verdana';
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font: 36px/36px 'Arial Black';
  text-align: center;
}
code,
pre {
  font: 14px/1.5em 'Courier';
}
#root {
  display: grid;
  grid: 64px calc(100% - 64px) / 1fr;
  height: 100%;
  width: 100%;
}
#root #titlebar {
  border-bottom: 5px solid #0B090B;
  background-color: #BFB0BF;
  display: grid;
  grid: 100% / 64px calc(100% - 64px);
  height: 100%;
  width: 100%;
}
#root #titlebar #logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#root #titlebar #title-container > #title {
  font: 24px/59px 'Arial Black';
  text-align: center;
}
#root #app {
  display: grid;
  grid: 24px calc(100% - 24px) / 1fr;
  height: 100%;
  width: 100%;
}
#root #app #sidebar {
  border-bottom: 3px solid #0B090B;
  display: flex;
  align-items: center;
  justify-content: center;
}
#root #app #sidebar .nav-link {
  color: #0046B8;
  margin: 0px 24px;
  transition: color;
}
#root #app #sidebar .nav-link:hover {
  color: #2F7FFF;
}
@media (min-width: 600px) {
  #root {
    display: grid;
    grid: 72px calc(100% - 72px) / 1fr;
    height: 100%;
    width: 100%;
  }
  #root #titlebar {
    display: grid;
    grid: 100% / 128px calc(100% - 128px);
    height: 100%;
    width: 100%;
  }
  #root #titlebar #title-container > #title {
    font: 32px/67px 'Arial Black';
    text-align: center;
  }
  #root #app {
    display: grid;
    grid: 100% / 192px calc(100% - 192px);
    height: 100%;
    width: 100%;
  }
  #root #app #sidebar {
    border-right: 3px solid #0B090B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  #root #app #sidebar .nav-link {
    border-bottom: 1px solid #0B090B;
    background-color: rgba(11, 9, 11, 0);
    font: calc(2 * 36px / 3)/36px 'Verdana';
    height: 36px;
    width: 100%;
    text-align: center;
    transition: background-color;
  }
  #root #app #sidebar .nav-link:hover {
    background-color: rgba(11, 9, 11, 0.25);
  }
}
