// border widths - feel free to customize this
@border-widths: {
    thin: 1px;
    normal: 3px;
    thick: 5px;
}

// border radii - feel free to customize this
@border-radii: {
    none: 0px;
    tight: 5px;
    loose: 10px;
}

// mixin to quickly set borders
#border() {
    .u(@width: @border-widths[normal]; @color: @colors[black]) {
        border-top: @width solid @color;
    }
    .d(@width: @border-widths[normal]; @color: @colors[black]) {
        border-bottom: @width solid @color;
    }
    .l(@width: @border-widths[normal]; @color: @colors[black]) {
        border-left: @width solid @color;
    }
    .r(@width: @border-widths[normal]; @color: @colors[black]) {
        border-right: @width solid @color;
    }
    .ud(@width: @border-widths[normal]; @color: @colors[black]) {
        border-top: @width solid @color;
        border-bottom: @width solid @color;
    }
    .lr(@width: @border-widths[normal]; @color: @colors[black]) {
        border-left: @width solid @color;
        border-right: @width solid @color;
    }
    .u-0(@width: @border-widths[normal]; @color: @colors[black]; @radius: @border-radii[none]) {
        border-left: @width solid @color;
        border-right: @width solid @color;
        border-bottom: @width solid @color;
        border-radius: @radius;
    }
    .d-0(@width: @border-widths[normal]; @color: @colors[black]; @radius: @border-radii[none]) {
        border-top: @width solid @color;
        border-left: @width solid @color;
        border-right: @width solid @color;
        border-radius: @radius;
    }
    .l-0(@width: @border-widths[normal]; @color: @colors[black]; @radius: @border-radii[none]) {
        border-top: @width solid @color;
        border-right: @width solid @color;
        border-bottom: @width solid @color;
        border-radius: @radius;
    }
    .r-0(@width: @border-widths[normal]; @color: @colors[black]; @radius: @border-radii[none]) {
        border-top: @width solid @color;
        border-left: @width solid @color;
        border-bottom: @width solid @color;
        border-radius: @radius;
    }
    .udlr(@width: @border-widths[normal]; @color: @colors[black]; @radius: @border-radii[none]) {
        border: @width solid @color;
        border-radius: @radius;
    }
}